body {
      margin: 0;
      background: white;
    }

    section {
      padding: 60px;
      text-align: center;
    }

    h2 {
      color: blue;
      margin-bottom: 40px;
    }

    .card {
      background: white;
      color: black;
      width: 300px;   
      text-align: left;
    }

    .card img {
      width: 10%;
      height: 50px;
    }

    .card .info {
      padding: 15px;
      font-size: 14px;
    }

